*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(126, 240, 240);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-2{
    max-width: 950px;
    margin: 0 auto;
}
.container-footer{
    background-color: rgb(7, 0, 42);
}
.row{
    display: flex;
    padding: 20px;
}
.container-footer-2{
    background-color: rgb(7, 0, 42);
    padding-top: 20px;
}
/*colonne*/
.col-20{
    width: 20%;
    background-color: orange;
    border: 1px dashed black;
    
}
.col-60{
    width: 60%;
    background-color: orange;    
    border: 1px dashed black;
}
.col-40{
    width: 40%;
    background-color: rgb(251, 125, 125);    
    border: 1px dashed rgb(255, 255, 255);
    height: 300px;
    padding-bottom: 20px;
}
.col-15{
    width: 15%;
    background-color: rgb(6, 248, 204);    
    border: 1px dashed rgb(255, 255, 255);
    height: 300px;
    padding-bottom: 20px;
}
.col-piccola{
    width: 100%;
    background-color: rgb(211, 10, 211);
    border: 1px dashed black;
    height: 300px;
}
.col-70{
    width: 70%;
    background-color: cornflowerblue;
    border: 1px dashed black;
    height: 300px;
}
.col-30{
    width: 30%;
    background-color: pink;
    border: 1px dashed black;
    height: 300px;
}
.col-100{
    width: 100%;
    background-color: rgb(24, 134, 24);
    border: 1px dashed black;
    height: 600px;
}
/*fondi*/
.sfondo-blu{
    background-color: blue;
}
.bg-grigio{
    background-color: rgb(164, 164, 164);
}
.bg-ciano{
    background-color: cyan;
    margin: 0px 19px 0px 19px;
}
.link{
    text-align: center;
}
ul.link{
    list-style-type: none;   
}
ul li{
    display: inline-block;
}
.testo-destra{
    text-align: right;
}
.pad{
    padding: 10px 0;
}
hr{
    color: white;
}
.bottoni-footer{
    background-color: plum;
    border: 1px dashed black;
    padding: 10px;
    margin-right: -20px;
    margin-left: -20px;;
}
.justify-between{
    justify-content: space-between;
}